{% comment %} #Creating pagination template {% endcomment %}
<div class="pagination">
    <span class ="step-links">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}
    </span>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    {% endif %}
    <span class="current-page">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next &raquo;</a>
    {% endif %}
    </span>
</div>