{% comment %}#Creating a base template{% endcomment %}
{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
  </head>
  <body>
    <div id="content">
      {% block content %}

      {% endblock %}
    </div>

    <div id="sidebar">
      <h2>The Ndikiye Family Blog</h2>
      {% total_posts as total %}
      <p>
        Welcome to our family blog where we share our adventures, stories, and memories. Stay tuned for updates! I’ve written <strong>{{ total }}</strong>
        post{{ total|pluralize }} so far.
      </p>
      <h3>Latest posts</h3>
      {% show_latest_posts 3 %}
      <h3>Most commented posts</h3>
      {% get_most_commented_posts as most_commented_posts %}
      <ul>
        {% for post in most_commented_posts %}
        <li>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> ({{ post.comments.count }} comments)
        </li>
        {% endfor %}
      </ul>

      <footer>
        <p>&copy; 2025 The Ndikiye Family Blog. All rights reserved.</p>
      </footer>
    </div>

    <div class="clearfix"></div>
  </body>
</html>
