{% comment %}#Creating a base template{% endcomment %}
{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <div id="sidebar">
      <h2>The Ndikiye Family Blog</h2>
      {% total_posts as total %}
      <p>
        Welcome to our family blog where we share our adventures, stories, and memories. Stay tuned for updates! I’ve written <strong>{{ total }}</strong>
        post{{ total|pluralize }} so far.
      </p>

      <footer>
        <p>&copy; 2025 The Ndikiye Family Blog. All rights reserved.</p>
      </footer>
    </div>

    <div class="clearfix"></div>
  </body>
</html>
